// 全局颜色表 下列颜色是示例 实际颜色表要等设计出一个
$headerBg: #495060; // 头部背景色
$font: #1C2438; // 主字体颜色
$assist: #9EA7B4; //  辅助颜色
$contentbg: #F8F8F9; // 内容背景色
$border: #E9EAEC; // 内容背景色

// 基础色
$white: #FFFFFF; // 白色
$orange: #FF8F00; //  橘色
$lightGreen: #1FCA74; //  浅绿色
$lightBlue: #0079CC; //  浅蓝色
$border: #DDDEE1; //  边框