$prefix: 'b-';
$col-prefix: $prefix+"col";
$row-prefix: $prefix+"row";
$grid-total: 24;
@mixin _clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

// row
.#{$row-prefix} {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: auto;
  zoom: 1;
  display: block;
  @include _clearfix;
}

// col
.#{$col-prefix} {
  position: relative;
}

@for $i from 1 through $grid-total {
  .#{$col-prefix}-span-#{$i} {
    display: block;
    float: left;
    width: percentage(($i / $grid-total));
  }
  .#{$col-prefix}-forward-#{$i} {
    left: percentage(($i / $grid-total));
  }
  .#{$col-prefix}-back-#{$i} {
    right: percentage(($i / $grid-total));
  }
  .#{$col-prefix}-offset-#{$i} {
    margin-left: percentage(($i / $grid-total));
  }
  .#{$col-prefix}-order-#{$i} {
    order: percentage(($i / $grid-total));
  }
}