@charset "UTF-8";
.fade-enter-active, .fade-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused; }

.fade-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused; }

.fade-enter-active, .fade-appear {
  animation-name: "bwFadeIn";
  animation-play-state: running; }

.fade-leave-active {
  animation-name: "bwFadeOut";
  animation-play-state: running; }

.fade-enter-active, .fade-appear {
  opacity: 0;
  animation-timing-function: linear; }

.fade-leave-active {
  animation-timing-function: linear; }

@keyframes bwFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes bwFadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.ease-enter-active, .ease-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused; }

.ease-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused; }

.ease-enter-active, .ease-appear {
  animation-name: "bwEaseIn";
  animation-play-state: running; }

.ease-leave-active {
  animation-name: "bwEaseOut";
  animation-play-state: running; }

.ease-enter-active, .ease-appear {
  opacity: 0;
  animation-timing-function: linear;
  animation-duration: 0.2s; }

.ease-leave-active {
  animation-timing-function: linear;
  animation-duration: 0.2s; }

@keyframes bwEaseIn {
  0% {
    opacity: 0;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes bwEaseOut {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(0.9); } }
.zoomIn-enter-active, .zoomIn-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused; }

.zoomIn-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused; }

.zoomIn-enter-active, .zoomIn-appear {
  animation-name: "bZoomTopIn";
  animation-play-state: running; }

.zoomIn-leave-active {
  animation-name: "bZoomTopOut";
  animation-play-state: running; }

.zoomIn-enter-active, .zoomIn-appear {
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

.zoomIn-leave-active {
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

@keyframes bZoomTopIn {
  0% {
    opacity: 0;
    transform: scaleY(0); }
  100% {
    opacity: 1;
    transform: scaleY(1); } }
@keyframes bZoomTopOut {
  0% {
    opacity: 1;
    transform: scaleY(1); }
  100% {
    opacity: 0;
    transform: scaleY(0); } }
button {
  cursor: pointer; }

@keyframes rotating {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.icon-loading:before {
  vertical-align: middle;
  animation: rotating 5s linear infinite;
  display: inline-block; }

.b-btn-normal {
  min-width: 90px;
  height: 36px;
  border-radius: 10px;
  color: #80848f; }

.b-btn-small {
  min-width: 80px;
  height: 30px;
  border-radius: 10px;
  box-sizing: border-box; }

.b-btn-big {
  min-width: 100px;
  height: 40px;
  border-radius: 10px;
  box-sizing: border-box; }

/* 正常水波纹 */
.b-btn-tynormal {
  border-color: #80848f;
  color: #80848f;
  background-color: #fff;
  position: relative; }

.b-btn-tynormal:hover {
  box-shadow: 0px 0px 3px #80848f; }

.b-btn-tynormal:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #80848f;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all .3s; }

.b-btn-tynormal:focus {
  outline: none; }

.b-btn-tynormal:active:after {
  opacity: .3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

/* 蓝色水波纹 */
.b-btn-typrimary {
  border-color: #0079CC;
  color: #fff;
  background-color: #0079CC;
  position: relative; }

.b-btn-typrimary:hover {
  box-shadow: 0px 0px 4px #0079CC; }

.b-btn-typrimary:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #0079CC;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-typrimary:focus {
  outline: none; }

.b-btn-typrimary:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

/* 绿色水波纹 */
.b-btn-tysuccess {
  background-color: #1fca74;
  border-color: #1fca74;
  color: #fff;
  position: relative; }

.b-btn-tysuccess:hover {
  box-shadow: 0px 0px 5px #1fca74; }

.b-btn-tysuccess:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #1fca74;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-tysuccess:focus {
  outline: none; }

.b-btn-tysuccess:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

/* 黄色水波纹 */
.b-btn-tywarning {
  background-color: #ff8f00;
  border-color: #ff8f00;
  color: #fff;
  position: relative; }

.b-btn-tywarning:hover {
  box-shadow: 0px 0px 5px #ff8f00; }

.b-btn-tywarning:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #ff8f00;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-tywarning:focus {
  outline: none; }

.b-btn-tywarning:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

/* 红色水波纹 */
.b-btn-tyerror {
  background-color: #f44336;
  border-color: #f44336;
  color: #fff;
  position: relative; }

.b-btn-tyerror:hover {
  box-shadow: 0px 0px 5px #f44336; }

.b-btn-tyerror:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #f44336;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-tyerror:focus {
  outline: none; }

.b-btn-tyerror:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

.b-btn-round {
  border-radius: 20px; }

.b-btn-tyerror.b-btn-round:hover {
  box-shadow: 0px 0px 5px #f44336; }

.b-btn-tyerror.b-btn-round:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #f44336;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-tyerror.b-btn-round:focus {
  outline: none; }

.b-btn-tyerror.b-btn-round:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

.b-btn-tysuccess.b-btn-round:hover {
  box-shadow: 0px 0px 5px #1fca74; }

.b-btn-tysuccess.b-btn-round:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #1fca74;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-tysuccess.b-btn-round:focus {
  outline: none; }

.b-btn-tysuccess.b-btn-round:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

.b-btn-tywarning.b-btn-round:hover {
  box-shadow: 0px 0px 5px #ff8f00; }

.b-btn-tywarning.b-btn-round:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #ff8f00;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-tywarning.b-btn-round:focus {
  outline: none; }

.b-btn-tywarning.b-btn-round:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

.b-btn-typrimary.b-btn-round:hover {
  box-shadow: 0px 0px 5px #0079CC; }

.b-btn-typrimary.b-btn-round:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #0079CC;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-typrimary.b-btn-round:focus {
  outline: none; }

.b-btn-typrimary.b-btn-round:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

.b-btn-tynormal.b-btn-round:hover {
  box-shadow: 0px 0px 5px #80848f; }

.b-btn-tynormal.b-btn-round:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #80848f;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-tynormal.b-btn-round:focus {
  outline: none; }

.b-btn-tynormal.b-btn-round:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

.b-btn-circle {
  min-width: 50px;
  min-height: 50px;
  border-radius: 25px; }

.b-btn-tyerror.b-btn-circle:hover {
  box-shadow: 0px 0px 5px #f44336; }

.b-btn-tyerror.b-btn-circle:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #f44336;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-tyerror.b-btn-circle:focus {
  outline: none; }

.b-btn-tyerror.b-btn-circle:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

.b-btn-tysuccess.b-btn-circle:hover {
  box-shadow: 0px 0px 5px #1fca74; }

.b-btn-tysuccess.b-btn-circle:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #1fca74;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-tysuccess.b-btn-circle:focus {
  outline: none; }

.b-btn-tysuccess.b-btn-circle:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

.b-btn-tywarning.b-btn-circle:hover {
  box-shadow: 0px 0px 5px #ff8f00; }

.b-btn-tywarning.b-btn-circle:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #ff8f00;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-tywarning.b-btn-circle:focus {
  outline: none; }

.b-btn-tywarning.b-btn-circle:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

.b-btn-typrimary.b-btn-circle:hover {
  box-shadow: 0px 0px 5px #0079CC; }

.b-btn-typrimary.b-btn-circle:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #0079CC;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-typrimary.b-btn-circle:focus {
  outline: none; }

.b-btn-typrimary.b-btn-circle:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

.b-btn-tynormal.b-btn-circle:hover {
  box-shadow: 0px 0px 5px #80848f; }

.b-btn-tynormal.b-btn-circle:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
  background-color: #80848f;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all 0.3s; }

.b-btn-tynormal.b-btn-circle:focus {
  outline: none; }

.b-btn-tynormal.b-btn-circle:active:after {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s; }

.b-btn-plain {
  opacity: 0.7; }

.b-btn-disabled {
  cursor: not-allowed;
  opacity: 0.3; }

.b-card-wrapper {
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  position: relative; }
  .b-card-wrapper:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-color: #dddee1; }
  .b-card-wrapper.b-card-dis-hover {
    box-shadow: none; }
  .b-card-wrapper .b-card-header {
    border-bottom: 1px solid #dddee1;
    padding: 14px 16px; }
    .b-card-wrapper .b-card-header .b-card-header-inner {
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      color: #1c2438;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .b-card-wrapper .b-card-header .b-card-header-inner.span {
        vertical-align: middle; }
  .b-card-wrapper .b-card-body {
    padding: 16px; }
  .b-card-wrapper .b-card-extra {
    position: absolute;
    right: 16px;
    top: 14px; }

.b-card-border {
  border: 1px solid #dddee1; }

.b-card-shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2); }

.b-carousel {
  position: relative;
  background: #e8e8e8;
  overflow: hidden; }
  .b-carousel .b-carousel-wrapper {
    overflow: hidden;
    position: relative; }
    .b-carousel .b-carousel-wrapper .b-carousel-slide {
      overflow: hidden; }
  .b-carousel .b-carousel-control {
    z-index: 80;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    padding: 0; }
    .b-carousel .b-carousel-control li {
      display: inline-block;
      margin: 0 3px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #ccc;
      cursor: pointer; }
      .b-carousel .b-carousel-control li.active {
        background: #0079cc; }
  .b-carousel .b-carousel-direction {
    z-index: 80;
    position: absolute;
    left: 0;
    top: 50%;
    height: 50px;
    margin-top: -15px;
    width: 100%;
    padding: 0; }
    .b-carousel .b-carousel-direction li {
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      border: 4px solid transparent;
      border-top-color: #9ea7b4;
      border-right-color: #9ea7b4;
      list-style: none; }
      .b-carousel .b-carousel-direction li.b-carousel-prev {
        left: 4%;
        transform: rotate(-135deg); }
      .b-carousel .b-carousel-direction li.b-carousel-next {
        right: 4%;
        transform: rotate(45deg); }
      .b-carousel .b-carousel-direction li:hover {
        opacity: 0.6;
        border-top-color: #52b7fc;
        border-right-color: #52b7fc; }
      .b-carousel .b-carousel-direction li.disable {
        cursor: not-allowed;
        border-top-color: #ddd;
        border-right-color: #ddd; }

.carousel-example {
  height: 100%;
  font-size: 60px;
  text-align: center;
  color: #52b7fc;
  line-height: 360px; }

.bw-collapsebox {
  border-radius: 3px;
  border: 1px solid #dcdee2;
  /* 展开 */ }
  .bw-collapsebox .bw-collapse-item {
    border-top: 1px solid #dcdee2; }
  .bw-collapsebox .bw-collapse-item:first-child {
    border-top: 0; }
  .bw-collapsebox .bw-collapse-item-header {
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    padding-left: 16px;
    background: #f7f7f7; }
  .bw-collapsebox .bw-collapse-item-header-active .bw-collapse-item-header {
    border-bottom: 1px solid #dcdee2; }
  .bw-collapsebox .bw-collapse-item-content {
    color: #515a6e;
    padding: 16px;
    background-color: #fff; }
  .bw-collapsebox .bw-collapse-arrow {
    margin-top: 15px;
    margin-right: 5px; }
  .bw-collapsebox .bw-collapse-arrow-right {
    float: right;
    margin-right: 10px;
    transform: rotate(90deg);
    transition: transform 0.24s; }
  .bw-collapsebox .bw-collapse-arrow-active-right {
    display: inline-block;
    transform: rotate(0deg); }
  .bw-collapsebox .bw-collapse-arrow-left {
    float: left;
    transform: rotate(-90deg);
    transition: transform 0.24s; }
  .bw-collapsebox .bw-collapse-arrow-active-left {
    display: inline-block;
    transform: rotate(0deg); }
  .bw-collapsebox .bw-collapse-arrow-hidden {
    display: none; }

.bw-collapsebox-simple {
  border-left: none;
  border-right: none; }
  .bw-collapsebox-simple .bw-collapse-item-header {
    background: #fff; }
  .bw-collapsebox-simple .bw-collapse-item-header-active .bw-collapse-item-header {
    border-bottom: none; }

.b-icon {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  vertical-align: middle; }

.b-input-box {
  display: inline-block; }
  .b-input-box .b-input {
    display: inline-block;
    width: 180px;
    line-height: 1.5;
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background-color: #fff;
    background-image: none;
    position: relative;
    cursor: text;
    transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out; }
    .b-input-box .b-input:hover {
      border-color: #52b7fc; }
    .b-input-box .b-input:focus {
      box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2); }
    .b-input-box .b-input:disabled {
      background-color: #e8e8e8; }
    .b-input-box .b-input:disabled:hover {
      border-color: #dddee1; }
  .b-input-box .b-input-small {
    padding: 4px 8px;
    height: 24px;
    border-radius: 3px; }
  .b-input-box .b-input-normal {
    font-size: 12px;
    padding: 8px;
    height: 32px; }
  .b-input-box .b-input-large {
    font-size: 14px;
    padding: 12px 8px;
    height: 40px; }
  .b-input-box.b-input-group {
    position: relative;
    width: 200px;
    display: table;
    border: 1px solid #dddee1;
    border-radius: 4px;
    border-collapse: separate; }
    .b-input-box.b-input-group .b-input {
      border: 0;
      width: 100%;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      float: left; }
    .b-input-box.b-input-group:hover {
      border-color: #52b7fc;
      box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2); }
    .b-input-box.b-input-group:hover input {
      box-shadow: none; }
    .b-input-box.b-input-group:disabled :hover {
      border-color: #dddee1;
      box-shadow: none; }
    .b-input-box.b-input-group .b-input-icon-normal {
      position: absolute;
      right: 0px;
      padding: 8px; }
    .b-input-box.b-input-group .b-input-icon-large {
      position: absolute;
      right: 0px;
      padding: 8px; }
    .b-input-box.b-input-group .b-input-icon-small {
      position: absolute;
      right: 0px;
      padding: 8px; }
  .b-input-box.b-input-error .b-input:hover {
    border-color: #f44336; }
  .b-input-box.b-input-error .b-input:focus {
    box-shadow: 0 0 0 2px rgba(244, 67, 54, 0.2); }
  .b-input-box.b-input-error .b-input:disabled {
    background-color: #e8e8e8; }
  .b-input-box.b-input-error .b-input:disabled:hover {
    border-color: #dddee1; }
  .b-input-box.b-input-error:hover {
    border-color: #f44336;
    box-shadow: 0 0 0 2px rgba(244, 67, 54, 0.2); }
  .b-input-box.b-input-error:hover input {
    box-shadow: none; }
  .b-input-box.b-input-error:disabled :hover {
    border-color: #dddee1;
    box-shadow: none; }
  .b-input-box .b-input-label {
    display: table-cell;
    padding: 4px 7px;
    font-size: inherit;
    font-weight: normal;
    line-height: 1;
    color: #515a6e;
    text-align: center;
    background-color: #f8f8f9;
    border-right: 1px solid #dddee1;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    white-space: nowrap;
    vertical-align: middle; }

.b-message-fade-enter-active {
  animation: b-message-fade-in 0.3s; }

.b-message-fade-leave-active {
  animation: b-message-fade-out 0.3s; }

@keyframes b-message-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
@keyframes b-message-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(-20px); } }
.b-message-wrapper .b-message {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 16px;
  font-size: 12px;
  overflow: hidden;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.65);
  background: rgba(255, 255, 255, 0.95);
  pointer-events: all; }
  .b-message-wrapper .b-message .b-message-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 18px; }
  .b-message-wrapper .b-message .b-message-close {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 13px;
    color: #646464;
    font-weight: 600;
    padding-left: 15px;
    margin-right: -7px; }

.b-page {
  font-size: 0; }
  .b-page .b-page-item-content {
    color: #495060; }
  .b-page .b-page-arrow {
    color: #495060; }
    .b-page .b-page-arrow:hover {
      color: #52b7fc; }

.b-page-normal .b-page-item, .b-page-normal .b-page-prev, .b-page-normal .b-page-next, .b-page-normal .b-page-item-jump-next, .b-page-normal .b-page-item-jump-prev {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  min-width: 32px;
  height: 32px;
  line-height: 30px;
  margin-right: 10px;
  text-align: center;
  list-style: none;
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #dddee1;
  transition: border .2s ease-in-out, color .2s ease-in-out; }
  .b-page-normal .b-page-item:hover, .b-page-normal .b-page-prev:hover, .b-page-normal .b-page-next:hover, .b-page-normal .b-page-item-jump-next:hover, .b-page-normal .b-page-item-jump-prev:hover {
    border-color: #0079CC; }
.b-page-normal .b-page-prev, .b-page-normal .b-page-next {
  min-width: 5px;
  padding: 0 10px; }
.b-page-normal .b-page-item:hover {
  background: #0079CC; }
  .b-page-normal .b-page-item:hover .b-page-item-content {
    color: white; }
.b-page-normal .b-page-item-active {
  background: #0079CC; }
  .b-page-normal .b-page-item-active .b-page-item-content {
    color: white; }
.b-page-normal .b-page-disabled {
  cursor: not-allowed;
  background: #e8e8e8; }
  .b-page-normal .b-page-disabled:hover {
    border-color: #e8e8e8; }

.b-page-elevator {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  line-height: 32px; }
  .b-page-elevator input {
    padding: 1px 7px;
    height: 32px;
    border-radius: 3px;
    width: 44px; }

.b-page-total {
  font-size: 12px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  vertical-align: middle; }

.b-page-mini .b-page-item, .b-page-mini .b-page-prev, .b-page-mini .b-page-next, .b-page-mini .b-page-item-jump-next, .b-page-mini .b-page-item-jump-prev {
  min-width: 22px;
  height: 22px;
  line-height: 20px;
  border: none;
  margin-right: 5px; }
.b-page-mini .b-page-disabled {
  background: white; }
.b-page-mini .b-page-elevator {
  height: 22px;
  line-height: 22px; }
  .b-page-mini .b-page-elevator input {
    height: 22px;
    width: 32px; }

.b-page-simple .b-page-prev, .b-page-simple .b-page-next {
  display: inline-block;
  border: 0;
  height: 24px;
  line-height: normal; }

.b-page-simple-pager {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  font-size: 12px; }
  .b-page-simple-pager input {
    width: 48px;
    height: 22px;
    margin: 0 8px;
    padding: 5px 8px;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid #dddee1;
    border-radius: 4px;
    transition: border-color .2s ease-in-out; }
    .b-page-simple-pager input:hover {
      border-color: #0079CC; }
  .b-page-simple-pager span {
    padding: 0 8px 0 2px; }

.b-page-disabled {
  cursor: not-allowed; }
  .b-page-disabled .b-page-arrow {
    color: #bbbbbb; }
    .b-page-disabled .b-page-arrow:hover {
      color: #bbbbbb; }

/**
 * @author 靳宏灿
 * @date 2018/9/10
 * @Description: steps组件的样式
*/
/*********正常情况下的数据**************/
/********small类型下的数据**************/
/*******其他********/
/********正常的size下steps组件区域的css开始*********/
.b-steps-area {
  height: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  /************单个step节点的区域的css开始*******************/
  /************单个step节点的区域的css结束*******************/
  /************step不同status的css微调开始*******************/
  /************step不同status的css微调结束*******************/ }
  .b-steps-area .b-step-item {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    vertical-align: top; }
    .b-steps-area .b-step-item .b-step-point {
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 18px;
      display: inline-block;
      border: 1px #52b7fc solid;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      text-align: center;
      vertical-align: middle; }
    .b-steps-area .b-step-item .b-step-main {
      display: inline; }
      .b-steps-area .b-step-item .b-step-main .b-step-tail {
        width: 100px;
        display: inline-block;
        height: 1px;
        margin: 0px auto;
        padding: 0px;
        overflow: hidden;
        border-top: 1px #52b7fc solid; }
      .b-steps-area .b-step-item .b-step-main .b-step-title {
        display: inline-block;
        color: #9ea7b4;
        text-align: center;
        vertical-align: sub; }
      .b-steps-area .b-step-item .b-step-main .b-step-content {
        padding-left: 30px;
        font-size: 12px; }
  .b-steps-area .b-step-status-process .b-step-point {
    color: #fff;
    background-color: #52b7fc;
    border-color: #52b7fc; }
  .b-steps-area .b-step-status-process .b-step-main .b-step-tail {
    border-top-color: #9ea7b4; }
  .b-steps-area .b-step-status-process .b-step-main .b-step-title {
    color: #1c2438; }
  .b-steps-area .b-step-status-process .b-step-main .b-step-content {
    color: #1c2438; }
  .b-steps-area .b-step-status-finish .b-step-point {
    color: #fff;
    background: #52b7fc;
    border-color: #52b7fc; }
  .b-steps-area .b-step-status-finish .b-step-main .b-step-tail {
    border-top-color: #52b7fc; }
  .b-steps-area .b-step-status-finish .b-step-main .b-step-content {
    color: #9ea7b4; }
  .b-steps-area .b-step-status-error .b-step-point {
    color: #fff;
    background: #f44336;
    border-color: #f44336; }
  .b-steps-area .b-step-status-error .b-step-main .b-step-tail {
    border-top-color: #9ea7b4; }
  .b-steps-area .b-step-status-error .b-step-main .b-step-title {
    color: #f44336; }
  .b-steps-area .b-step-status-error .b-step-main .b-step-content {
    color: #f44336; }
  .b-steps-area .b-step-status-single .b-step-point {
    color: #fff;
    background: #00558f;
    border-color: #00558f; }
  .b-steps-area .b-step-status-single .b-step-main .b-step-tail {
    border-top-color: #00558f; }
  .b-steps-area .b-step-status-single .b-step-main .b-step-content {
    color: #00558f; }
  .b-steps-area .b-step-status-wait .b-step-point {
    color: #9ea7b4;
    border-color: #9ea7b4;
    border-color: #9ea7b4; }
  .b-steps-area .b-step-status-wait .b-step-main .b-step-tail {
    border-top-color: #9ea7b4; }
  .b-steps-area .b-step-status-wait .b-step-main .b-step-content {
    color: #9ea7b4; }

/********正常的size下steps组件区域的css结束*********/
/**********steps组件的size为small时的css设置开始*************/
.b-steps-area.b-steps-area-small {
  height: 18px; }
  .b-steps-area.b-steps-area-small .b-step-item {
    height: 24px;
    line-height: 24px; }
    .b-steps-area.b-steps-area-small .b-step-item .b-step-point {
      width: 18px;
      height: 18px;
      font-size: 12px;
      line-height: 18px; }
    .b-steps-area.b-steps-area-small .b-step-item .b-step-main .b-step-title {
      font-size: 12px; }
    .b-steps-area.b-steps-area-small .b-step-item .b-step-main .b-step-content {
      padding-left: 24px;
      font-size: 12px; }

/**********steps组件的size为small时的css设置结束*************/
/**************steps组件包含content时的样式**************/
.b-steps-area.b-steps-area-haveContent {
  margin-bottom: 30px; }

.b-modal {
  width: auto;
  margin: 0 auto;
  position: relative;
  outline: none;
  top: 100px; }
  .b-modal-hidden {
    display: none !important; }
  .b-modal-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0; }
  .b-modal-wrap * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .b-modal-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(55, 55, 55, 0.6);
    height: 100%;
    z-index: 1000; }
  .b-modal-content {
    position: relative;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    background-clip: padding-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); }
    .b-modal-content-no-mask {
      pointer-events: auto; }
    .b-modal-content-drag {
      position: absolute; }
      .b-modal-content-drag .b-modal-header {
        cursor: move; }
    .b-modal-content-dragging {
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none; }
  .b-modal-header {
    border-bottom: 1px solid #e8eaec;
    padding: 14px 16px;
    line-height: 1; }
    .b-modal-header p, .b-modal-header-inner {
      display: inline-block;
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      color: #17233d;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .b-modal-header p i, .b-modal-header p span {
      vertical-align: middle; }
  .b-modal-close {
    z-index: 1;
    font-size: 16px;
    position: absolute;
    right: 12px;
    top: 12px;
    overflow: hidden;
    cursor: pointer; }
    .b-modal-close .b-icon {
      font-size: 16px !important;
      color: #999;
      transition: color 0.2s ease;
      position: relative;
      top: 1px; }
      .b-modal-close .b-icon:hover {
        color: #444; }
  .b-modal-body {
    padding: 16px;
    font-size: 12px;
    line-height: 1.5; }
  .b-modal-footer {
    border-top: 1px solid #e8eaec;
    padding: 12px 18px 12px 18px;
    text-align: right; }
    .b-modal-footer button + button {
      margin-left: 8px;
      margin-bottom: 0; }
  .b-modal-fullscreen {
    width: 100% !important;
    top: 0;
    bottom: 0;
    position: absolute; }
    .b-modal-fullscreen .b-modal-content {
      width: 100%;
      border-radius: 0;
      position: absolute;
      top: 0;
      bottom: 0; }
    .b-modal-fullscreen .b-modal-body {
      width: 100%;
      overflow: auto;
      position: absolute;
      top: 51px;
      bottom: 61px; }
    .b-modal-fullscreen-no-header .b-modal-body {
      top: 0; }
    .b-modal-fullscreen-no-footer .b-modal-body {
      bottom: 0; }
    .b-modal-fullscreen .b-modal-footer {
      position: absolute;
      width: 100%;
      bottom: 0; }
  .b-modal-no-mask {
    pointer-events: none; }
  .b-modal-center {
    display: flex;
    align-items: center;
    justify-content: center; }
    .b-modal-center .b-modal {
      top: 0; }

@media (max-width: 768px) {
  .b-modal {
    width: auto !important;
    margin: 10px; }

  .vertical-center-modal .b-modal {
    flex: 1; } }
.b-modal-confirm {
  padding: 0 4px; }
  .b-modal-confirm-head {
    padding: 0 12px 0 0; }
    .b-modal-confirm-head-icon {
      display: inline-block;
      font-size: 28px;
      vertical-align: middle;
      position: relative;
      top: -2px; }
      .b-modal-confirm-head-icon-info {
        color: #1890ff; }
      .b-modal-confirm-head-icon-success {
        color: #52c41a; }
      .b-modal-confirm-head-icon-warning {
        color: #faad14; }
      .b-modal-confirm-head-icon-error {
        color: #f5222d; }
      .b-modal-confirm-head-icon-confirm {
        color: #faad14; }
    .b-modal-confirm-head-title {
      display: inline-block;
      vertical-align: middle;
      margin-left: 12px;
      font-size: 16px;
      color: #17233d;
      font-weight: 700; }
  .b-modal-confirm-body {
    padding-left: 42px;
    font-size: 14px;
    color: fade(#000, 65%);
    position: relative; }
    .b-modal-confirm-body-render {
      margin: 0;
      padding: 0; }
  .b-modal-confirm-footer {
    margin-top: 20px;
    text-align: right; }
    .b-modal-confirm-footer button + button {
      margin-left: 8px;
      margin-bottom: 0; }

.b-tooltip {
  display: inline-block; }
  .b-tooltip-rel {
    display: inline-block;
    position: relative;
    width: inherit; }
  .b-tooltip-popper {
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.5;
    position: absolute;
    z-index: 1060; }
    .b-tooltip-popper[x-placement^="top"] {
      padding: 5px 0 8px 0; }
    .b-tooltip-popper[x-placement^="right"] {
      padding: 0 5px 0 8px; }
    .b-tooltip-popper[x-placement^="bottom"] {
      padding: 8px 0 5px 0; }
    .b-tooltip-popper[x-placement^="left"] {
      padding: 0 8px 0 5px; }
    .b-tooltip-popper[x-placement^="top"] .b-tooltip-arrow {
      bottom: 3px;
      border-width: 5px 5px 0;
      border-top-color: rgba(70, 76, 91, 0.9); }
    .b-tooltip-popper[x-placement="top"] .b-tooltip-arrow {
      left: 50%;
      margin-left: -5px; }
    .b-tooltip-popper[x-placement="top-start"] .b-tooltip-arrow {
      left: 16px; }
    .b-tooltip-popper[x-placement="top-end"] .b-tooltip-arrow {
      right: 16px; }
    .b-tooltip-popper[x-placement^="right"] .b-tooltip-arrow {
      left: 3px;
      border-width: 5px 5px 5px 0;
      border-right-color: rgba(70, 76, 91, 0.9); }
    .b-tooltip-popper[x-placement="right"] .b-tooltip-arrow {
      top: 50%;
      margin-top: -5px; }
    .b-tooltip-popper[x-placement="right-start"] .b-tooltip-arrow {
      top: 8px; }
    .b-tooltip-popper[x-placement="right-end"] .b-tooltip-arrow {
      bottom: 8px; }
    .b-tooltip-popper[x-placement^="left"] .b-tooltip-arrow {
      right: 3px;
      border-width: 5px 0 5px 5px;
      border-left-color: rgba(70, 76, 91, 0.9); }
    .b-tooltip-popper[x-placement="left"] .b-tooltip-arrow {
      top: 50%;
      margin-top: -5px; }
    .b-tooltip-popper[x-placement="left-start"] .b-tooltip-arrow {
      top: 8px; }
    .b-tooltip-popper[x-placement="left-end"] .b-tooltip-arrow {
      bottom: 8px; }
    .b-tooltip-popper[x-placement^="bottom"] .b-tooltip-arrow {
      top: 3px;
      border-width: 0 5px 5px;
      border-bottom-color: rgba(70, 76, 91, 0.9); }
    .b-tooltip-popper[x-placement="bottom"] .b-tooltip-arrow {
      left: 50%;
      margin-left: -5px; }
    .b-tooltip-popper[x-placement="bottom-start"] .b-tooltip-arrow {
      left: 16px; }
    .b-tooltip-popper[x-placement="bottom-end"] .b-tooltip-arrow {
      right: 16px; }
  .b-tooltip-light {
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.5;
    position: absolute;
    z-index: 1060; }
    .b-tooltip-light[x-placement^="top"] {
      padding: 7px 0 10px 0; }
    .b-tooltip-light[x-placement^="right"] {
      padding: 0 7px 0 10px; }
    .b-tooltip-light[x-placement^="bottom"] {
      padding: 10px 0 7px 0; }
    .b-tooltip-light[x-placement^="left"] {
      padding: 0 10px 0 7px; }
    .b-tooltip-light[x-placement^="top"] .b-tooltip-arrow {
      bottom: 3px;
      border-width: 7px 7px 0;
      border-top-color: rgba(217, 217, 217, 0.5); }
    .b-tooltip-light[x-placement="top"] .b-tooltip-arrow {
      left: 50%;
      margin-left: -7px; }
    .b-tooltip-light[x-placement="top-start"] .b-tooltip-arrow {
      left: 16px; }
    .b-tooltip-light[x-placement="top-end"] .b-tooltip-arrow {
      right: 16px; }
    .b-tooltip-light[x-placement^="right"] .b-tooltip-arrow {
      left: 3px;
      border-width: 7px 7px 7px 0;
      border-right-color: rgba(217, 217, 217, 0.5); }
    .b-tooltip-light[x-placement="right"] .b-tooltip-arrow {
      top: 50%;
      margin-top: -7px; }
    .b-tooltip-light[x-placement="right-start"] .b-tooltip-arrow {
      top: 8px; }
    .b-tooltip-light[x-placement="right-end"] .b-tooltip-arrow {
      bottom: 8px; }
    .b-tooltip-light[x-placement^="left"] .b-tooltip-arrow {
      right: 3px;
      border-width: 7px 0 7px 7px;
      border-left-color: rgba(217, 217, 217, 0.5); }
    .b-tooltip-light[x-placement="left"] .b-tooltip-arrow {
      top: 50%;
      margin-top: -7px; }
    .b-tooltip-light[x-placement="left-start"] .b-tooltip-arrow {
      top: 8px; }
    .b-tooltip-light[x-placement="left-end"] .b-tooltip-arrow {
      bottom: 8px; }
    .b-tooltip-light[x-placement^="bottom"] .b-tooltip-arrow {
      top: 3px;
      border-width: 0 7px 7px;
      border-bottom-color: rgba(217, 217, 217, 0.5); }
    .b-tooltip-light[x-placement="bottom"] .b-tooltip-arrow {
      left: 50%;
      margin-left: -7px; }
    .b-tooltip-light[x-placement="bottom-start"] .b-tooltip-arrow {
      left: 16px; }
    .b-tooltip-light[x-placement="bottom-end"] .b-tooltip-arrow {
      right: 16px; }
    .b-tooltip-light[x-placement^="top"] .b-tooltip-arrow:after {
      content: " ";
      bottom: 1px;
      margin-left: -7px;
      border-bottom-width: 0;
      border-top-width: 7px;
      border-top-color: #fff; }
    .b-tooltip-light[x-placement^="right"] .b-tooltip-arrow:after {
      content: " ";
      left: 1px;
      bottom: -7px;
      border-left-width: 0;
      border-right-width: 7px;
      border-right-color: #fff; }
    .b-tooltip-light[x-placement^="bottom"] .b-tooltip-arrow:after {
      content: " ";
      top: 1px;
      margin-left: -7px;
      border-top-width: 0;
      border-bottom-width: 7px;
      border-bottom-color: #fff; }
    .b-tooltip-light[x-placement^="left"] .b-tooltip-arrow:after {
      content: " ";
      right: 1px;
      border-right-width: 0;
      border-left-width: 7px;
      border-left-color: #fff;
      bottom: -7px; }
  .b-tooltip-inner {
    max-width: 250px;
    min-height: 34px;
    padding: 8px 12px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    background-color: rgba(70, 76, 91, 0.9);
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap; }
    .b-tooltip-inner-with-width {
      white-space: pre-wrap;
      text-align: justify; }
  .b-tooltip-light .b-tooltip-inner {
    background-color: #fff;
    color: #515a6e; }
  .b-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }
  .b-tooltip-light .b-tooltip-arrow {
    border-width: 8px; }
    .b-tooltip-light .b-tooltip-arrow:after {
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-color: transparent;
      border-style: solid;
      content: "";
      border-width: 7px; }

.b-drawer-root {
  position: fixed;
  top: 0;
  overflow: auto; }

.b-drawer-drawerTop {
  padding: 16px 24px;
  border-radius: 4px 4px 0 0;
  color: #1c2438;
  border-bottom: 1px solid #e8e8e8; }

.b-drawer-drawerTop p {
  font-size: 20px;
  font-weight: 600; }

.b-drawer-drawerbody {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word; }

.b-drawer-maskshow {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #80848f;
  opacity: 0.3; }

.b-drawer-maskhid {
  height: 0;
  width: 100%; }

.b-drawer {
  padding: 16px 24px;
  border-radius: 4px 4px 0 0;
  background: #fff;
  color: #80848f;
  border-bottom: 1px solid #fff; }

.b-drawer-top {
  min-height: 256px;
  width: 100%;
  position: fixed;
  top: 0;
  border-radius: 4px;
  background-color: #fff;
  z-index: 100; }

.b-drawer-left {
  min-width: 256px;
  height: 100%;
  position: fixed;
  left: 0;
  border-radius: 4px;
  background-color: #fff;
  z-index: 100; }

.b-drawer-bottom {
  min-height: 256px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-radius: 4px;
  background-color: #fff;
  z-index: 100; }

.b-drawer-right {
  min-width: 256px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: -2px 0 8px #80848f;
  z-index: 100; }

.b-drawer-top-enter-active {
  animation-name: foldt-in;
  animation-duration: 0.3s; }

.b-drawer-top-leave-active {
  animation-name: foldt-out;
  animation-duration: 0.3s; }

.b-drawer-bottom-enter-active {
  animation-name: foldb-in;
  animation-duration: 0.3s; }

.b-drawer-bottom-leave-active {
  animation-name: foldb-out;
  animation-duration: 0.3s; }

.b-drawer-left-enter-active {
  animation-name: foldl-in;
  animation-duration: 0.3s; }

.b-drawer-left-leave-active {
  animation-name: foldl-out;
  animation-duration: 0.3s; }

.b-drawer-right-enter-active {
  animation-name: foldr-in;
  animation-duration: 0.3s; }

.b-drawer-right-leave-active {
  animation-name: foldr-out;
  animation-duration: 0.3s; }

@keyframes foldr-in {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }
@keyframes foldr-out {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(100%); } }
@keyframes foldl-in {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }
@keyframes foldl-out {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%); } }
@keyframes foldt-in {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
@keyframes foldt-out {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%); } }
@keyframes foldb-in {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }
@keyframes foldb-out {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(100%); } }
.b-checkbox {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #495060;
  cursor: pointer; }
  .b-checkbox-left {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 14px;
    height: 14px;
    border: 1px solid #dddee1;
    border-radius: 2px;
    position: relative;
    background-color: #fff;
    transition: border-color .2s ease-in-out,background-color .2s ease-in-out,box-shadow .2s ease-in-out; }
  .b-checkbox-right {
    display: inline-block;
    vertical-align: middle; }
  .b-checkbox-checked {
    background: #0079cc;
    border: 1px solid #0079cc; }
  .b-checkbox-checked::after {
    content: '';
    display: table;
    width: 3px;
    height: 8px;
    position: absolute;
    top: 1px;
    left: 4px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg) scale(1);
    transition: all .2s ease-in-out; }
  .b-checkbox-disabled {
    background: #e8e8e8;
    border: 1px solid #dddee1; }
  .b-checkbox .b-checkbox-disabled.b-checkbox-checked::after {
    content: '';
    display: table;
    width: 3px;
    height: 8px;
    position: absolute;
    top: 1px;
    left: 4px;
    border: 2px solid #bbbbbb;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg) scale(1);
    transition: all .2s ease-in-out; }
  .b-checkbox-left:hover {
    border: 1px solid #bbbbbb; }
  .b-checkbox-input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0; }

.b-back-top {
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.5;
  background: #0079CC;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed; }

.b-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #606266;
  font-size: 14px; }

.b-dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10px 0;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }

.b-dropdown-item {
  list-style: none;
  line-height: 36px;
  padding: 0 20px;
  margin: 0;
  font-size: 14px;
  color: #606266;
  cursor: pointer;
  outline: 0; }
  .b-dropdown-item:focus, .b-dropdown-item:not(.is-disabled):hover {
    background-color: #ecf5ff;
    color: #66b1ff; }

.b-dropdown-item-divided {
  position: relative;
  margin-top: 6px;
  border-top: 1px solid #ebeef5; }
  .b-dropdown-item-divided::before {
    content: '';
    height: 6px;
    display: block;
    margin: 0 -20px;
    background-color: #fff; }

.b-popper {
  position: relative; }

.b-popper .popper_arrow, .b-popper .popper_arrow::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.b-popper .popper_arrow {
  border-width: 6px;
  -webkit-filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
  filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03)); }

.b-popper .popper_arrow::after {
  content: " ";
  border-width: 6px; }

.b-popper[x-placement^=top] {
  margin-bottom: 12px; }

.b-popper[x-placement^=top] .popper_arrow {
  bottom: -6px;
  left: 50%;
  margin-right: 3px;
  border-top-color: #ebeef5;
  border-bottom-width: 0; }

.b-popper[x-placement^=top] .popper_arrow::after {
  bottom: 1px;
  margin-left: -6px;
  border-top-color: #fff;
  border-bottom-width: 0; }

.b-popper[x-placement^=bottom] {
  margin-top: 12px; }

.b-popper[x-placement^=bottom] .popper_arrow {
  top: -6px;
  left: 50%;
  margin-right: 3px;
  border-top-width: 0;
  border-bottom-color: #ebeef5; }

.b-popper[x-placement^=bottom] .popper_arrow::after {
  top: 1px;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #fff; }

.b-popper[x-placement^=right] {
  margin-left: 12px; }

.b-popper[x-placement^=right] .popper_arrow {
  top: 50%;
  left: -6px;
  margin-bottom: 3px;
  border-right-color: #ebeef5;
  border-left-width: 0; }

.b-popper[x-placement^=right] .popper__arrow::after {
  bottom: -6px;
  left: 1px;
  border-right-color: #fff;
  border-left-width: 0; }

.b-popper[x-placement^=left] {
  margin-right: 12px; }

.b-popper[x-placement^=left] .popper__arrow {
  top: 50%;
  right: -6px;
  margin-bottom: 3px;
  border-right-width: 0;
  border-left-color: #ebeef5; }

.b-popper[x-placement^=left] .popper__arrow::after {
  right: 1px;
  bottom: -6px;
  margin-left: -6px;
  border-right-width: 0;
  border-left-color: #fff; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

input, div {
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

html, body, textarea, input, button, select, pre {
  font-family: 'MicrosoftYaHei', "Microsoft Yahei", 'arial', "Hiragino Sans GB", '宋体', 'Tahoma'; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 14px; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

a {
  text-decoration: none;
  color: #2d2d34; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

ol, ul {
  list-style: none; }

button, input, textarea, select {
  outline: none;
  border: 1px solid #c8c8c8;
  padding: 5px; }

input[type='range'] {
  padding: 0; }

input[type="button"], button, select, label {
  cursor: pointer; }

input[disabled=disabled] {
  background: #fff;
  cursor: no-drop; }

fieldset, img {
  border: none; }

img {
  vertical-align: middle;
  font-size: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.doc {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif; }
  .doc img {
    max-width: 1000px; }
  .doc .code-show {
    background-color: #e9eaec;
    margin: 0 4px;
    display: inline-block;
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 3px;
    height: 18px;
    line-height: 18px; }
  .doc h1 {
    font-weight: 400;
    color: #1c2438;
    font-size: 26px; }
  .doc h3 {
    font-weight: 400;
    color: #1c2438;
    font-size: 22px;
    margin: 25px 0 15px; }
  .doc h4 {
    font-weight: 400;
    color: #1c2438;
    font-size: 18px;
    margin: 10px 0 15px; }
  .doc p {
    font-size: 14px;
    color: #495060;
    line-height: 1.5em;
    margin-bottom: 10px; }
  .doc table {
    width: 100%;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 45px;
    border-collapse: collapse;
    color: #495060; }
    .doc table th {
      padding: 8px 10px;
      text-align: left;
      font-weight: 400;
      background-color: #f8f8f9;
      border: 1px solid #dddee1; }
    .doc table td {
      padding: 8px;
      border: 1px solid #dddee1; }
  .doc ul {
    padding-left: 40px; }
  .doc ul, .doc ol {
    list-style-type: circle; }
  .doc a {
    color: #0079CC; }
  .doc .language-bash {
    background: #f8f8f9; }
  .doc .icon-list {
    overflow: hidden;
    max-width: 1000px; }
    .doc .icon-list li {
      float: left;
      width: 220px;
      height: 120px;
      text-align: center;
      list-style: none; }
    .doc .icon-list .icon {
      line-height: 50px;
      margin: 5px 0; }

.example {
  border: 1px solid #dddee1;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
  transition: all .2s ease-in-out; }
  .example .example-box {
    margin: 10px; }
  .example ul {
    margin: 0;
    padding: 0; }
  .example ul, .example ol {
    list-style-type: none; }

.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0; }

.clearfix {
  *zoom: 1; }

/*# sourceMappingURL=index.css.map */
