/**
 * @author 靳宏灿
 * @date 2018/9/10
 * @Description: steps组件的样式
*/
@import "color";

$normal : 24px;
$small : 18px;
$normalArea : 28px;
$smallArea : 24px;
$normalFontSize : 18px;
$smallFontSize : 12px;
$marginLength: 5px;

/********正常的size下steps组件区域的css开始*********/
.b-steps-area{
  height:$normal;
  display: inline-block;
  margin-top:$marginLength;
  margin-bottom:$marginLength;
  /************单个step节点的区域的css开始*******************/
  .b-step-item {
    display:inline-block;
    height:$normal;
    line-height: $normal;
    //步骤条的节点
    .b-step-point {
      width:$normal;
      height:$normal;
      line-height:$normal;
      font-size:$normalFontSize;
      display: inline-block;
      border:1px $LightPrimary solid;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      text-align:center;
      vertical-align: middle;
    }
    // step组件的展示区域（线，title，content）
    .b-step-main {
      display: inline-block;
      //步骤条的线
      .b-step-tail {
        width: 100px;
        display: inline-block;
        height: 1px;
        margin: 0px auto;
        padding: 0px;
        overflow: hidden;
        border-top: 1px $LightPrimary solid;
      }
      // step的title部分
      .b-step-title {
        display: inline-block;
        color:$SubContent;
        text-align:center;
        vertical-align: sub;
      }
    }
  }
  /************单个step节点的区域的css结束*******************/


  /************step不同status的css微调开始*******************/
  // 当前节点的css
  .b-step-status-process {
    .b-step-point{
      color:$white;
      background-color:$LightPrimary;
      border-color:$LightPrimary;
    }
    .b-step-main {
      .b-step-tail{
        border-top-color: $SubContent;
      }
      .b-step-title {
        color:$Title;
      }
    }
  }
  // 已结束节点的css
  .b-step-status-finish{
    .b-step-point{
      color:$white;
      //background: url("../image/check.png") transparent no-repeat scroll ;
      background: $LightPrimary;
      border-color:$LightPrimary;
    }
    .b-step-main {
      .b-step-tail{
        border-top-color: $LightPrimary;
      }
    }
  }
  // 出现错误的css
  .b-step-status-error{
    .b-step-point{
      color:$white;
      background: $Error;
      border-color: $Error;
    }
    .b-step-main {
      .b-step-tail{
        border-top-color: $SubContent;
      }
      .b-step-title {
        color:$Error;
      }
    }
  }
  // 单（抛弃点）点的css
  .b-step-status-single{
    .b-step-point{
      color:$white;
      background: $DarkPrimary;
      border-color:$DarkPrimary;
    }
    .b-step-main {
      .b-step-tail{
        border-top-color: $DarkPrimary;
      }
    }
  }
  // 处于等待状态的节点
  .b-step-status-wait{
    .b-step-point{
      color: $SubContent;
      border-color: $SubContent;
      border-color:$SubContent;
    }
    .b-step-main {
      .b-step-tail{
        border-top-color: $SubContent;
      }
    }
  }
  /************step不同status的css微调结束*******************/
}
/********正常的size下steps组件区域的css结束*********/


/**********steps组件的size为small时的css设置开始*************/
.b-steps-area.b-steps-area-small {
  height:$small;
  .b-step-item {
    height:$normal;
    line-height: $normal;
    //步骤条的节点
    .b-step-point {
      width:$small;
      height:$small;
      font-size: $smallFontSize;
      line-height: $small;
    }
  }
}
/**********steps组件的size为small时的css设置结束*************/
